{% extends 'base.html.twig' %}

{% set page_title = 'Homepage' %}


{#{{ component('alert', { type: messagetype , message:  message  }) }}#}

{% block body %}



<section>

    <button>
        <a href="{{ path('contact_create') }}" target="_blank">Create new contact</a>
    </button>


    {% if search == true %}
        <button>
            <a href="{{ path('contacts_all') }}" >Back to homepage</a>
        </button>

        <input type="text" id="searchInput" placeholder="{{ searchedTerm }}"/>
    {% else %}
        <input type="text" id="searchInput" placeholder="Search.."/>
    {% endif %}





{#    {{ form(searchForm) }}#}

    <table class="table table-dark">

        <tr>

            <th scope="col"><strong>#</strong></th>
            <th scope="col"><strong>jméno</strong></th>
            <th scope="col"><strong>přijmení</strong></th>
            <th scope="col"><strong>telefon</strong></th>
            <th scope="col"><strong>email</strong></th>
            <th scope="col"><strong>poznámka</strong></th>
            <th scope="col" colspan="2"></th>

        </tr>

        {% for contact in contacts %}

            <tr>

                <td scope="row">{{ contact.id }}</td>
                <td scope="row"><a href="{{ path('contact_detail', {id: contact.id}) }}">{{ contact.name }}</a></td>
                <td scope="row"><a href="{{ path('contact_detail', {id: contact.id}) }}">{{ contact.secondname }}</a></td>
                <td scope="row">{{ contact.phone }}</td>
                <td scope="row">{{ contact.email }}</td>
                <td scope="row" class="note-popup-btn" id="note-popup-{{ contact.id }}">
                    show note
                    <div id="myModal-{{ contact.id }}" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>{{ contact.note }}</p>
                        </div>
                    </div>
                </td>

                {% set contact_url_slug=contact.id~'-'~contact.processNameUrl() %}
                <td scope="row">
                    <a href="{{ path('contact_remove', {id: contact.id}) }}">remove</a>
                    &nbsp;&nbsp;
                    <a href="{{ path('contact_update_slug', {slug: contact.id~'-'~contact.processNameUrl()}) }}">edit</a>
                </td>
                {#<td scope="row"><a href="{{ path('contact_update', {id: contact.id}) }}">edit</a></td>#}








            </tr>

        {% endfor %}

    </table>

    <div class="navigation">
        {{ knp_pagination_render(contacts) }}
    </div>

</section>

    <script>

        $(document).ready(function(){
            $('#searchInput').keypress(function (e) {
                if (e.which == 13) {
                    window.location.replace("/contact/search/"+$('#searchInput').val());
                }
            });
        });

    </script>

{% endblock %}















